################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TANA/.vs/TANA/FileContentIndex/21aa6b2b-0efc-40f4-9757-9850c6a7c9d7.vsidx
/TANA/.vs/TANA/FileContentIndex/58ebb939-7697-436c-b712-92355a10661c.vsidx
/TANA/.vs/TANA/FileContentIndex/c373ced4-0b5c-4709-b882-3ad012db44cc.vsidx
/TANA/.vs/TANA/FileContentIndex/a7c94542-a073-429d-9aad-e4bc2fee3872.vsidx
/TANA/.vs/TANA/FileContentIndex/d792ad66-fa7c-479e-9760-e06a1c23ef2e.vsidx
